<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>VideoPlayer</title>
</head>
<body>
    <div id="app">
        <video :src="videoUrl" controls autoplay></video>
        <ul>
            <li v-for="file in files" :key="file.magnet">
                {{file.name}}
                <button @click="play(file)">Play</button>
            </li>
        </ul>
    </div>
</body>
<script>
    const {createApp} = Vue;
    createApp({
        data() {
            return {
                activeVideo: {},
                message: "hello vue",
                files: [
                    {
                        magnet: '4475b5b4af2aa5e81a0929102c1c4ba4c9e6ef16',
                        fileName: 'John.Wick.Chapter.4.2023.BDRip.AVC.Rip.by.HardwareMining.R.G.Generalfilm.mkv',
                    },
                    {
                        magnet: '',
                        fileName: '',
                    }
                ]
            }
        },
        computed: {
            videoUrl: ({activeVideo}) => activeVideo.fileName ? `/stream/${activeVideo.magnet}/${activeVideo.fileName}` : ''
        },
        methods: {
           async play(file) {
            const response = await axios.get(`/stream/add/${file.magnet}`)
                this.activeVideo = file
            }
        }
    }).mount('#app')
</script>
</html>